.DS_Store
.idea/
.settings/settings.json
.vs/
.vscode/
*.booproj
*.csproj
*.DotSettings.user
*.sln
*.suo
*.unityproj
*.userprefs
Assets/AssemblyVersion.g.cs
Assets/AssemblyVersion.g.cs.meta
Assets/BuildNumber_NEW_NEW.g.cs
Assets/BuildNumber_NEW_NEW.g.cs.meta
Assets/BuildNumber.g.cs
Assets/BuildNumber.g.cs.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Uwp/Photon3Unity3D.dll.mdb
Assets/Plugins/Uwp/Photon3Unity3D.dll.mdb.meta
Assets/Rilisoft/Firebase-Ios-*/GoogleService-Info.plist
Assets/Rilisoft/Firebase-Ios-*/GoogleService-Info.plist.meta
Assets/screenshots*
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
DontRenameReason.txt
ExcludeRenameReason.txt
Library/
Logs/
obj/
ProjectSettings/GoogleAarExplodeCache.xml
ProjectSettings/ProjectVersion.txt
RenameTableCommon.txt
TableForRestoreNames.txt
Temp/
VSCode.meta
VSCode/
